@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
}

body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(8.gif);
    background-position: center;
    background-repeat: no-repeat;

}

.container {
    perspective: 1000px;
}

.card {
    width: 280px;
    height: 420px;
    position: absolute;
    top: 100px;
    left: 80px;
    transition: 2s;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(180deg);
}

.block {
    position: absolute;
    top: 200px;
    right: 500px;
    perspective: 800px;
}

.outside,
.inside {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 1.5rem;
}

.outside {
    background-color: blanchedalmond;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    backface-visibility: hidden;
}

.outside h1 {
    font-size: 3rem;
    font-weight: bold;
    color: salmon;
    margin-bottom: 30px;
}

.inside {
    background-color: rgb(200, 189, 197);
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
    transform: rotateY(180deg);
}

.inside h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}

.frames {
    width: 400px;
    height: 150px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 0.8rem;

    transform: rotateY(-230deg) rotateX(20deg);
    position: absolute;
}

.frames img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.frames p {
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(180deg);
}

.frames:nth-child(1) {
    top: -110px;
    z-index: -1;
    background-color: rgb(200, 194, 192);
}

.frames:nth-child(2) {

    background-color: rgb(228, 227, 225);
}

.frames:nth-child(3) {
    top: 100px;
    background-color: rgb(248, 237, 233);
    width: 400px;
    height: 350px;
}